<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-language" content="en-gb">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Bruxo Games</title>
  <meta property="og:title" content="Bruxo Games">
  <meta property="og:locale" content="en_US">
  <meta name="description" content="Bruxo Games">
  <meta property="og:description" content="Bruxo Games">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    
</head>